body {
	background-color: gray;
	font-family: 'Quicksand';
}

.navbar {
	background-color: darkgray;
	border-bottom-color: transparent;
}

.navbar-brand {
	color: black !important;
	//border-color: gray;
	//border-width: 3px;
	background-color: transparent;
	font-size: 45px;
	
}

.navbar-btn {
	//border-color: gray;
	//border-width: 3px;
	position: relative;
	top: 05px;
	right: 1350px;
}

.navbar-btn: hover {
	border-color: white;
	background-color: black;
}

.store-container {
	background-color: gray;
	margin-top: 100px;
	text-align: center;
}

.center {
	margin: 0 auto;
}

.img-container {
	width: 200px;
	height: 200px;
	background-color: white;
	margin: 0 auto;
	border-style: solid;
    border-width: 6px;
	border-color: black;
}

.navbar-cart {
	//border-color: gray;
	//border-width: 3px;
	position: relative;
	top: 05px;
	right: -300px;
}

.product-container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.product-container button {
	border-color: transparent;
	border-radius: 0;
	background-color: black;
	color: white;
}

.product-container h4 {
	font-weight: 900;
}

.product-container h5 {
	font-size: 1.1em;
	font-weight: bold;
}

#myModalLabel {
	font-size: 2.5em;
}

.cart-description {
	text-align: left;
}

.cart-product-container {
	margin-top: 50px;
}

.navbar-brand: hover {
	cursor: pointer !important;
}